{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}
{% requireAdmin %}

{# NOTE: Resources used and stolen while building this template:
    - https://craftcms.com/docs/4.x/extend/plugin-settings.html
    - https://github.com/verbb/wishlist/blob/craft-4/src/templates/settings/general/index.html
#}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') }
] %}

{% set fullPageForm = true %}
{% set title = plugin.name|title %}
{% set docTitle = "Plugins"|t('app') %}

{% block content %}
    <div class="readable" style="margin-bottom: 1rem">
        <blockquote class="note tip">
            <p>Please note that whenever saving these settings, the Craft instance will be registered to Statuspaginator.</p>
        </blockquote>
    </div>

    <form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ actionInput('_statuspaginator/settings/save-settings') }}
        {{ redirectInput('settings/plugins/_statuspaginator') }}
        {{ csrfInput() }}

        {% namespace 'settings' %}
            {{ forms.autosuggestField({
                first: true,
                label: 'Token',
                instructions: 'Token known to Statuspaginator (see its .env file)',
                id: 'token',
                name: 'token',
                value: settings.token,
                suggestEnvVars: true,
                autofocus: true,
                required: true
            }) }}
        {% endnamespace %}
    </form>

    <hr />

    <div class="readable" style="margin-bottom: 1rem">
        <blockquote class="note warning">
            <p>Statuspaginator will <b>NOT</b> track this Craft instance after unregistering!</p>
            <p>After clicking unregister, avoid saving again if you want to keep this instance unregistered.</p>
        </blockquote>
    </div>

    <form action="" method="post" accept-charset="UTF-8">
        {{ actionInput('_statuspaginator/settings/unregister') }}
        {{ redirectInput('settings/plugins/_statuspaginator') }}
        {{ csrfInput() }}

        <input type="submit" class="btn submit" value="{{ 'Unregister' }}">
    </form>
{% endblock %}